  
.createset button {
    font: inherit;
    cursor: pointer;
    display: block;
    width:30px;
    height:30px;
    text-align: center;
    font-size: 10px;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    border-radius: 50%;
  }
  
.createset button:hover,
.createset button:active {
    background-color: #ffe2ed;
  }